<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="text-center mb-4">
          <a href="index.html" class="auth-logo mb-5 d-block"><img
              src="assets/images/logo.png"
              alt=""
              height="30"
              class="logo logo-dark"
            />
          </a>
          <h4>Sign up</h4>
          <p class="text-muted mb-4">Get your Chatvia account now.</p>
        </div>
        <div class="card">
          <div class="card-body p-4">
            <div class="p-3">
              <form action="" id="registerForm">
                <div class="mb-3">
                  <label class="form-label">Full Name</label>
                  <div class="input-group bg-light-subtle rounded-3 mb-3">
                    <span class="input-group-text text-muted" id="basic-addon5">
                      <i class="fa-solid fa-clipboard-user"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control form-control-lg bg-light-subtle border-light"
                      placeholder="Enter full name"
                      aria-label="Enter full name"
                      aria-describedby="basic-addon5"
                      name="fullname"
                      id="fullname"
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Username</label>
                  <div class="input-group bg-light-subtle mb-3 rounded-3">
                    <span
                      class="input-group-text border-light text-muted"
                      id="basic-addon6"
                    ><i class="fa-solid fa-user"></i></span>
                    <input
                      type="text"
                      class="form-control form-control-lg bg-light-subtle border-light"
                      placeholder="Enter Username"
                      aria-label="Enter Username"
                      aria-describedby="basic-addon6"
                      name="username"
                      id="username"
                    />
                  </div>
                </div>
                <div class="mb-4">
                  <label class="form-label">Password</label>
                  <div class="input-group bg-light-subtle mb-3 rounded-3">
                    <span
                      class="input-group-text border-light text-muted"
                      id="basic-addon7"
                    ><i class="fa-solid fa-unlock"></i></span>
                    <input
                      type="password"
                      class="form-control form-control-lg bg-light-subtle border-light"
                      placeholder="Enter Password"
                      aria-label="Enter Password"
                      aria-describedby="basic-addon7"
                      name="password"
                      id="password"
                    />
                  </div>
                </div>
                <div class="d-grid">
                  <button
                    class="btn btn-primary waves-effect waves-light"
                    type="submit"
                  >
                    Sign up
                  </button>
                </div>
                <div class="mt-4 text-center">
                  <p class="text-muted mb-0">
                    By registering you agree to the Chatvia
                    <a href="#" class="text-primary">Terms of Use</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <p>
            Already have an account ?
            <a href="auth-login.html" class="fw-medium text-primary">Signin</a>
          </p>
          <p>
            ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            Chatvia. Crafted with by Themesbrand
          </p>
        </div>
      </div>
    </div>
  </div>
</div>